<section class="container">
  <div class="p-3">
    <form action="">
      <div class="form-group">
        <label>Search GitHub User Profile</label>
        <input
          type="text"
          #searchId
          class="form-control w-25"
          placeholder="Search GitHub"
          [(ngModel)]="userName"
          name="userName"
        />
        <button class="btn btn-info mt-2" (click)="getProfile()">Search</button>
      </div>
    </form>
  </div>
  <app-github-profile
    [getProfileResp]="getProfileResp"
    [contentLoaded]="contentLoaded"
  ></app-github-profile>
  <!-- Repositories -->
  <app-github-repositories
    [getRepos]="getRepos"
    [contentLoaded]="contentLoaded"
    [userName]="userName"
  ></app-github-repositories>
</section>
